
h1 {
  color:blue;
  font-family: 'Roboto';
  background-color: yellow;
  text-align:center;

}
h2 {
  color: green;
  font-family: 'Roboto'; 
  text-align:center;
}

h3 {
  color:blueviolet;
  font-family: 'Arial';

}
p {
  color #212529;
  font-family: 'Serif';
}